.container{
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container h2{
    width: 100%;
    text-align: center;
}
.container-blok{
    margin: 10px;
}
.container-img{
    justify-content: center;
    align-items: center;
}