<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/css.css" type="text/css" />
    <title>Фотография</title>
  </head>
  <body>
    <div class="container container-img">
      <h1>Исходное изображение</h1>
      <h2>{{photo}}</h2>
        <div><a href="./">Назад в альбом</a></div>
      <div class="full_photo"><img src="{{path_to_photo}}/{{photo}}"></div>
      <div><a href="./">Назад в альбом</a></div>
    </div>
  </body>
</html>





