
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="templates/css.css" type="text/css" />
      <title>{{title}}</title>
  </head>
  <body> 
    
    <div class="container">
     <h2>{{title}}</h2>
      {% for photo in photos %}
        <div class="container-blok">
          <a Href="fullimage.php?photo={{photo}}">
            <img src="{{path_to_photo_small}}/{{photo}}" width='150'>
          </a>
        </div>
      {% endfor %}
          
    </div>
  </body>
</html>
